/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.mrhead {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 60px;
}
@media screen and (max-width: 746px) {
    .mrhead {
        margin-bottom: 2em;
    }
}
@media screen and (max-width: 593px) {
    .mrhead {
        margin-bottom: 3em;
    }
}
 .heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  @media screen and (max-width: 966px) {
    .heroBanner {
      padding: 2rem;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 3em;
  }

